* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(235, 229, 229);
}
header {
  background-color: #f5ba13;
  width: 100%;
  height: 100px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  padding: 30px 0 0 30px;
}

table {
  border-bottom: 2px solid forestgreen;
  width: 100%;
  height: 200px;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

.create-table {
  padding: 20px;
}

form input {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: lightblue;
  box-shadow: 2px rgba(0, 0, 0, 0.3);
  padding: 8px;
  margin-right: 5px;
}

.sub-btn {
  color: #fff;
  background-color: #f5ba13;
  border-radius: 10px;
  border: none;
  box-shadow: 2px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 32px;
  cursor: pointer;
}

.sub-btn:hover {
  width: 60px;
  transition: width 0.5s;
  background-color: #f1b307;
}

.tStudents {
  position: absolute;
  margin-left: 7.5px;
  color: #fff;
  background-color: green;
  width: 100px;
  padding: 7px;
  border-radius: 10px;
  border: none;
}

.btn-clear {
  margin-left: 115px;
  color: #fff;
  background-color: red;
  opacity: 0.8;
  width: 50px;
  padding: 7px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-clear:hover {
  opacity: 1;
}
